*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.img1{
    height: 50px;
    width: 100px;
  
}
header{
  
    display: flex;
    padding: 10px;
   justify-content: space-between;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 30px;
}
a:hover{
    text-decoration: underline #ce0033;
    font-size: 30px;
    color: #ce0033;
  
}
ul{
    margin-left: 5%;
}
#pet-select{
border: none;
color: #ce0033;
background-color: white;

margin-bottom: 40px;

}
i{
    margin-top: 20px;
    margin:10px;
}
.header2{
    padding-top: -10%;
}
.btn{
margin-top: 20px;
margin-bottom: 20px;
padding-right: 50px;
padding-left: 50px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 15px;
margin: 20px;
border: none;
background-color: #ce0033;
color: white;
}
/* section numero 1 */
.section1{
    background-image: url(image/26.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20%;

}
.btn1{
   color: white;
   background-color: rgb(94, 92, 92, 0.5);
  font-size: 50px;
  border: none;
  font-weight: bold;
  margin-left: 40%;
  padding: 20px;

}
#section1{
margin-left: 40%;
display: flex;
background-color: rgba(224, 35, 35, 0.5);
margin-top: -10%;
margin-right: 30%;
margin-left: 20%;
padding: -80px;
padding: -50px;
justify-content: space-between;
}
.titre1{
 margin: 10%;
color: white;
padding: -40px;
}
.parg1{
    margin-left: 40%;
display: flex;
background-color: rgba(224, 35, 35, 0.5);
color: white;
margin-right: 30%;
margin-left: 20%;

justify-content: space-between;
}
.section7{
    margin-top: 2%;
}
.point{
    display: flex;
  margin: 5%;
  margin-left: 50%;
}
.point1{
    border-radius: 100%;
  background-color: #ce0033;
    width: 10px;
    height: 10px;
    margin: 10px;
}
.point2{
    border-radius: 45%;
    background-color: #ce0033;
      width: 50px;
      height: 10px;
      margin: 10px;
}
#section7{
    display: flex;
margin-left: 10%;
background-color: #f5f3f3;
margin-right: 30%;
justify-content: space-between;

}
.titre7{
    color: #ce0033;
    font-size: 30px;
    margin: 10px;
}
.parg11{
    margin: 30px;
    background-color: #f5f3f3;
    padding: 50px;
}
.appr{
    background-image: url(image/26.png);
    width: 500px;
    border-radius: 5px;
    box-shadow: 0px 5px  red;
}.h1{
    color: #ce0033;
    text-align: center;
    padding-top: 5%;
}